* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #000000;
}

.field {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 610px;
  border: 5px solid black;
  background-color: #2d59b68d;
}

.field-cell {
  margin: 0;
  width: 150px;
  height: 150px;
  border: 2px solid black;
}

.cell-active {
  position: relative;
}

.character {
  position: absolute;
  top: 13px;
  left: 13px;
}